.flashcard {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: black;
  font-size: 15px;
  display: block;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(161, 214, 245);
  width: 500px;
  height: 250px;
  border-radius: 12px;
  box-shadow: rgb(82, 82, 82) 0px 2px 2px 1px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flashcard-txt {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.flipped {
  transform: rotateY(180deg);
}
